* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    padding-top: 57px;
    
}

html {
    height: 4000px;
    font-size: 10px;
}

li {
   list-style: none;
}

/*duyuru*/

#sec-a {
    z-index: 555;
    width: 100%;
    position:fixed;
    top: 0px;
    background-color: #D6DB3B;
    padding: 1rem;
    font-size: 2.8rem;
    text-align: center;
    border: none;
    border-bottom: 3px solid #404040;
    font-family: 'Lato';
    text-transform: uppercase;
    color: #404040;
    transition: .5s all ;
}

#sec-a:hover {
    letter-spacing: 1.5px;
    word-spacing: 2px;
}

/*navbar*/

.container-nav {
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    padding-right: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

nav {
    font-family: 'Open Sans Condensed', sans-serif;
    width: 12%;
    float: left;
    font-size: 2.4rem;
    border: none;
    border-right: 4px solid #404040;
    position: fixed;    
    height: 1080px;
}

nav hr {
    border: none;
    border-top: 3px solid #D6DB3B;
    border-bottom: 3px solid #D6DB3B;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

nav ul p {
    text-align: center;
}

nav ul li {
    letter-spacing: 1px;
    padding-left: 1rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
    transition: all 0.3s;
}

nav ul li:hover {
    border: none;
    border-left: 5px solid #404040;
    background-color: #d6db3b37;
}



#body {
    height: 4000px;
    width: 88%;
    float: right;
    background: #aeaeae;
}